## Predicting bike availability

In [2]:
import pandas as pd
import numpy as np

In [7]:
df = pd.read_csv('data/dublinbikes_20200101_20200401.csv')
# bike_station_1_df = df.
addresses = df.ADDRESS.unique()
# print(addresses)

In [12]:
df1 = df[df.ADDRESS == addresses[5]]
df1

,STATION ID,TIME,LAST UPDATED,NAME,BIKE STANDS,AVAILABLE BIKE STANDS,AVAILABLE BIKES,STATUS,ADDRESS,LATITUDE,LONGITUDE
839,7,2020-01-01 06:25:02,2020-01-01 06:22:09,HIGH STREET,29,14,15,Open,High Street,53.343567,-6.275071
840,7,2020-01-01 06:30:02,2020-01-01 06:22:09,HIGH STREET,29,14,15,Open,High Street,53.343567,-6.275071
841,7,2020-01-01 06:35:02,2020-01-01 06:32:18,HIGH STREET,29,14,15,Open,High Street,53.343567,-6.275071
842,7,2020-01-01 06:40:03,2020-01-01 06:32:18,HIGH STREET,29,14,15,Open,High Street,53.343567,-6.275071
843,7,2020-01-01 06:45:02,2020-01-01 06:42:27,HIGH STREET,29,14,15,Open,High Street,53.343567,-6.275071
...,...,...,...,...,...,...,...,...,...,...,...
2198321,7,2020-04-01 23:35:02,2020-04-01 23:32:17,HIGH STREET,29,19,10,Open,High Street,53.343567,-6.275071
2198322,7,2020-04-01 23:40:02,2020-04-01 23:32:17,HIGH STREET,29,19,10,Open,High Street,53.343567,-6.275071
2198323,7,2020-04-01 23:45:02,2020-04-01 23:42:25,HIGH STREET,29,19,10,Open,High Street,53.343567,-6.275071
2198324,7,2020-04-01 23:50:03,2020-04-01 23:42:25,HIGH STREET,29,19,10,Open,High Street,53.343567,-6.275071
2198325,7,2020-04-01 23:55:02,2020-04-01 23:52:33,HIGH STREET,29,19,10,Open,High Street,53.343567,-6.275071